#reactor {
	width: 1000px;
	height: 500px;
}

#menu {
	position: absolute;
	background-color: #ffffff;
	top: 0px;
	height: 50px;
	opacity: 0.6;
	filter: alpha(opacity =             60);
}

#title {
	float: left;
	margin-left: 20px;
}

#color-swap{
	margin-right: 20px;	
}

.menu-item {
	float: right;
}

.button:hover{
	cursor: pointer;
	text-decoration: underline;
}

.button{
	display: inline-block;	
}

#text-menu {
	position: absolute;
	font-weight: bold;
	line-height: 20px;
	font-size: 20px;
	top: 50%;
	margin-top: -10px;
	color: black;
	font-family: "monospace", Georgia, Serif;
	float: right;
	   -moz-user-select: none;
   -khtml-user-select: none;
   user-select: none;
}

.molecule {
	position: absolute;
}

body {
	margin: 0px;
	background-color: #000000;
}