#reactor {
	width: 1000px;
	height: 500px;
}

#menu {
	position: absolute;
	background-color: #ffffff;
	top: 0px;
	height: 50px;
	opacity: 0.8;
	filter: alpha(opacity =               80);
}

p {
	text-align: center;
	line-height: 25px;
	font-size: 20px;
	color: #000;
	font-family: "monospace", Georgia, Serif;
	padding-left: 20%;
	padding-right: 20%;
}

a{
	text-decoration: underline;
	color: #000;
}

#explanation {
	opacity: 0.8;
	filter: alpha(opacity =               80);
	display: none;
	background-color: #ffffff;
	z-index: 100;
	position: absolute;
	top: 50px;
	left: 0px;
}

#title {
	float: left;
	margin-left: 20px;
}

#color-swap {
	margin-right: 20px;
}

.menu-item {
	float: right;
}

.button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.button {
	display: inline-block;
}

#text-menu {
	position: absolute;
	font-weight: bold;
	line-height: 20px;
	font-size: 20px;
	top: 50%;
	margin-top: -10px;
	color: #000;
	font-family: "monospace", Georgia, Serif;
	float: right;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.molecule {
	position: absolute;
}

body {
	margin: 0px;
	background-color: #000000;
}